/* crochet.css */

body {
    font-family: Roboto, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}


#builder {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h4 {
    color: #555;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}


#content {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

input[type="number"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #797979;
}

#buttons {
    margin-top: 10px;
}

#credit{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 5px;
}

#stuff {
    text-align: center;
}